*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(Screenshot\ 2025-01-10\ 154017.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: black;
    color: white;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    font-family: monospace;
    width: 100%;
    font-size: 7rem;
    backdrop-filter: blur(15px);
    background-color: hsla(0, 0%, 22%, 0);
    border-radius: 20px;
}
#date{
    font-family: monospace;
    width: 100%;
    font-size: 3.5rem;
    backdrop-filter: blur(15px);
    background-color: hsla(0, 0%, 22%, 0);
    border-radius: 20px;
}
